SimulatedCyberAttacks/Service References/BucketListServicesWcf/BucketListServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BucketListServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62271/BucketListServices.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62271/BucketListServices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62271/BucketListServices.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBucketListServices_ProcessUser_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessUser" />
  </wsdl:message>
  <wsdl:message name="IBucketListServices_ProcessUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessUserResponse" />
  </wsdl:message>
  <wsdl:message name="IBucketListServices_ProcessUserRegistration_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessUserRegistration" />
  </wsdl:message>
  <wsdl:message name="IBucketListServices_ProcessUserRegistration_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessUserRegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="IBucketListServices_GetBucketListItems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBucketListItems" />
  </wsdl:message>
  <wsdl:message name="IBucketListServices_GetBucketListItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBucketListItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IBucketListServices_UpsertBucketListItem_InputMessage">
    <wsdl:part name="parameters" element="tns:UpsertBucketListItem" />
  </wsdl:message>
  <wsdl:message name="IBucketListServices_UpsertBucketListItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpsertBucketListItemResponse" />
  </wsdl:message>
  <wsdl:message name="IBucketListServices_DeleteBucketListItem_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBucketListItem" />
  </wsdl:message>
  <wsdl:message name="IBucketListServices_DeleteBucketListItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBucketListItemResponse" />
  </wsdl:message>
  <wsdl:portType name="IBucketListServices">
    <wsdl:operation name="ProcessUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IBucketListServices/ProcessUser" message="tns:IBucketListServices_ProcessUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBucketListServices/ProcessUserResponse" message="tns:IBucketListServices_ProcessUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessUserRegistration">
      <wsdl:input wsaw:Action="http://tempuri.org/IBucketListServices/ProcessUserRegistration" message="tns:IBucketListServices_ProcessUserRegistration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBucketListServices/ProcessUserRegistrationResponse" message="tns:IBucketListServices_ProcessUserRegistration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBucketListItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IBucketListServices/GetBucketListItems" message="tns:IBucketListServices_GetBucketListItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBucketListServices/GetBucketListItemsResponse" message="tns:IBucketListServices_GetBucketListItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpsertBucketListItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IBucketListServices/UpsertBucketListItem" message="tns:IBucketListServices_UpsertBucketListItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBucketListServices/UpsertBucketListItemResponse" message="tns:IBucketListServices_UpsertBucketListItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBucketListItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IBucketListServices/DeleteBucketListItem" message="tns:IBucketListServices_DeleteBucketListItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBucketListServices/DeleteBucketListItemResponse" message="tns:IBucketListServices_DeleteBucketListItem_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBucketListServices" type="tns:IBucketListServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcessUser">
      <soap:operation soapAction="http://tempuri.org/IBucketListServices/ProcessUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessUserRegistration">
      <soap:operation soapAction="http://tempuri.org/IBucketListServices/ProcessUserRegistration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBucketListItems">
      <soap:operation soapAction="http://tempuri.org/IBucketListServices/GetBucketListItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpsertBucketListItem">
      <soap:operation soapAction="http://tempuri.org/IBucketListServices/UpsertBucketListItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBucketListItem">
      <soap:operation soapAction="http://tempuri.org/IBucketListServices/DeleteBucketListItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BucketListServices">
    <wsdl:port name="BasicHttpBinding_IBucketListServices" binding="tns:BasicHttpBinding_IBucketListServices">
      <soap:address location="http://localhost:62271/BucketListServices.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>